body {
  background-color: #fff;
  color: #111;
}

.navbar-toggle {
  color: #fff;
}

.background-image {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: calc(100% + 1px);
    width: 100%;
    filter: brightness(0.5);
    webkit-filter: brightness(0.5);
    -moz-filter: brightness(0.5);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: transparent;
}
